* {
  font-family: 'Roboto', sans-serif;
}

.blk-text {
  color: black;
}
.light-purple-bg {
  background-color: #e4c1f9;
}
.creme-bg {
  background-color: #fdffe9;
}


.roboto {
  font-family: 'Roboto', sans-serif;
}

#offcanvasNavbar-expand-false{
  width: fit-content;
}

.offset {
    box-shadow: 20px 35px;
    color: #adadad;
}

.banner-bg {
background-color: white;
background: url("../assets/tile-image.jpeg");
background-size: cover;
/* background-blend-mode: overlay; */
}