* {
  font-family: 'Roboto', sans-serif;
}

/* CLASS STYLING */

.px-h-80 {
  height: 80px;
}
.blk-text {
  color: black;
}
.light-purple-bg {
  background-color: #e4c1f9;
}
.creme-bg {
  background-color: #fdffe9;
}
.text-dkg {
  color: #5e5e5e;
}

.text-ltg{
  color: #909090;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

.offset {
  box-shadow: 20px 35px;
    color: #adadad;
}

.cover-preview{
  width: 300px;
  height: auto;
  border-radius: 20px;
}


.featured-preview{
  margin-bottom: 15px;
  width: 80%;
  height: auto;
  border-radius: 20px;
}
.featured-preview:hover , .carousel-card:hover {
  transition: all .05s linear;
  cursor: pointer;
  opacity: 80%;
}

.filter {
  border: #9d9d9d3f;
  border-width: 5px;
  border-style:outset;
  border-radius: 5px;
  background-color: #5e5e5e2e;
}

.form-button {
  background-color: black;
  color: #cf76ff;
  font-size: 30px;
}

.play-btn {
  color: #cf76ff;
}

.play-btn:hover , .prev-btn:hover{
  cursor: pointer;
  color: #d395f5;
  size: 50px;
  transition: all .1s linear;
}

.play-btn:active {
  color: #b249eb;
}

.audio-player{
  opacity: 85%;
}

#waveform wave {
  height: 70px !important;
}

input[type="range"] {
  -webkit-appearance: none;
  margin-right: 15px;
  width: auto;
  height: 3px;
  border-radius: 5px;
  background-color: #cf76ff;
  background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #b249eb;
}



.upload-preview {
  box-shadow:0 0 10px rgba(157, 157, 157, 0.487);
  border-width: 3px;
  border-radius: 10px;
}

.sample-tbody{
  display:block;
  overflow:auto;
  height:45vh;
}

.vh-80 {
  height: 87vh;
}

.link-btn{
  background: none;
  border: none;
  color: #cf76ff;

}
.link-btn:hover{
    background: none;
    text-decoration: underline;
 }


.height-match{
  height: 550px;
}

.table-height{
  height: 75vh;
  grid-template-rows:auto 1fr;
  display: grid;
  grid-template-columns: 100%;
}
  
.banner-bg {
  background-color: white;
  background: url("../assets/tile-image.jpeg");
  background-size: cover;
  /* background-blend-mode: overlay; */
}

.signup-bg {
  background-color: white;
  background: url("../assets/signup.jpg");
  background-size: cover;
  background-position: left;
}

.plans-banner-bg {
  background-color: white;
  background: url('../assets/plan-banner.jpeg');
  background-size: cover;
}
  
.nav-logo {
  height: 30px;
}
  
.sidebar:hover {
  background-color: #cf76ff;
  transition: all .1s linear;

  -ms-transition: all .1s linear;
  -moz-transition: all .1s linear;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
}

.no-padding-margin {
  margin: 0;
  padding: 0;
}

.carousel-pic{
  width: 100%;
  height: auto;
}

/* SLICK OVERWRITE */
.slick-prev:before , .slick-next:before{
  color: #cf76ff !important;
  font-size: 25px !important;
  opacity: 100% !important;
}

/* .slick-dots{
  position:static  !important;
} */
/* TAG STYLING */

ul li::marker {
  content: "✓";
  color: #3f8090 ;
}

h1 {
  font-size: 50px;
}



/* ID STYLING */
#offcanvasNavbar-expand-false{
  width: fit-content;
}

/* CARD STYLING */

.card:hover {
  
  box-shadow:0 0 15px rgba(207, 118, 255, 0.75);
/* border: rgba(207, 118, 255, 0.7);
border-style: outset;
border-radius: 10px;
border-width: 5px; */

transition: all .125s linear;
-ms-transition: all .125s linear;
-moz-transition: all .125s linear;
-webkit-transition: all .125s linear;
-o-transition: all .125s linear;
}

.card:hover > .card-header {
background-color: #cf76ff;

transition: all .125s linear;
-ms-transition: all .125s linear;
-moz-transition: all .125s linear;
-webkit-transition: all .125s linear;
-o-transition: all .125s linear;

}

.card:hover > .card-header > h4 {
font-weight: bold;
font-size: 35px;
transition: all .125s linear;
-ms-transition: all .125s linear;
-moz-transition: all .125s linear;
-webkit-transition: all .125s linear;
-o-transition: all .125s linear;
}
