* {
  font-family: 'Roboto', sans-serif;
}

.light-purple-bg {
  background-color: #e4c1f9;
}
.creme-bg {
  background-color: #fdffe9;
}
.roboto {
  font-family: 'Roboto', sans-serif;
}

#offcanvasNavbar-expand-false{
  width: fit-content;
}

.offset {
    box-shadow: 20px 35px;
    color: #adadad;

}