
// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
$primary: #cf76ff ;
$dark: #000000 ;
$border-widths: (
  3: 3px ,
  20: 20px
) ;
$secondary: #5e5e5e;



@import '~bootstrap/scss/bootstrap.scss' ;

